body {
  font-family: Verdana, Sans-Serif;
  background: #888;
  margin: 50px;
}
div#main {
  width: 966px;
  height: auto;
}
div#title h1 {
  font-size: 42px;
  color: white;
  padding: 0 0 30px 10px;
}
div.headline {
/*   visibility: hidden; */
  display: none;
}
span.word {
  font-size: 36px;
  padding: 5px;
  margin: 5px;
}
a {
  text-decoration: none;
}
a:hover {
  background: black;
  color: white;
}
a.swapbutton {
  color: red;
  position: relative;
  top: -5px;
}
div#check {
  margin-top: 20px;
  margin-left: 10px;
  padding: 0 0 20px 0;
}
div#check a {
  color: red;
  border: 2px solid black;
  padding: 5px;
}
#source {
  margin-top: 20px;
  margin-left: 10px;
  font-style: italic;
  padding: 20px 0 20px 0;
}
div#form {
  /*width: 300px;*/
  margin-top: 20px;
  margin-left: 10px;
  padding: 20px 0 20px 0;
}
div#help {
  margin: 20px 0 20px 10px;
  border: 2px solid black;
}
div#help h1 {
  font-family: Lucida, sans-serif;
  size: 16px;
  color: white;
  padding: 0 10px 10px 10px;
}
div#help p {
  font-family: Lucida, sans-serif;
  size: 15px;
  color: white;
  line-height: 20px;
  padding: 0 10px 0 10px;
}
div#help h4 {
  margin-left: 20px;
  font-size: 10px;
  color: white;
}